flask
fastapi
uvicorn[standard]
pydantic
pymongo
psutil
requests
asyncio
playwright
urllib3
sentence-transformers
langchain
langchain-community
faiss-cpu
python-dotenv
flask_cors
gunicorn
model2vec
beautifulsoup4
